/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/
/* Body and structure
-------------------------------------------------- */
body {
    background-color: #fff;
    position: relative;
}
section {
    padding-top: 20px;
}
section > .row {
    margin-bottom: 10px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -105px;
}
#masthead {
    /*background-color: #81dd5a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(129, 221, 90)),to(rgb(106, 186, 94)));
    background-image: -webkit-linear-gradient(top, rgb(129, 221, 90), rgb(106, 186, 94));
    background-image: -moz-linear-gradient(top, rgb(129, 221, 90), rgb(106, 186, 94));
    background-image: -o-linear-gradient(top, rgb(129, 221, 90), rgb(106, 186, 94));
    background-image: -ms-linear-gradient(top, rgb(129, 221, 90), rgb(106, 186, 94));
    background-image: linear-gradient(top, rgb(129, 221, 90), rgb(106, 186, 94));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#81dd5a', EndColorStr='#6aba5e');*/

    /*grau*/

    /*    background-color: #e2e2e2;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(226, 226, 226)),to(rgb(196, 196, 196)));
        background-image: -webkit-linear-gradient(top, rgb(226, 226, 226), rgb(196, 196, 196));
        background-image: -moz-linear-gradient(top, rgb(226, 226, 226), rgb(196, 196, 196));
        background-image: -o-linear-gradient(top, rgb(226, 226, 226), rgb(196, 196, 196));
        background-image: -ms-linear-gradient(top, rgb(226, 226, 226), rgb(196, 196, 196));
        background-image: linear-gradient(top, rgb(226, 226, 226), rgb(196, 196, 196));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e2e2e2', EndColorStr='#c4c4c4');*/




    background-color: #f8f8f8;
    background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(167, 167, 167)),to(rgb(248, 248, 248)));
    background-image: -webkit-radial-gradient(50% 50%, rgb(248, 248, 248), rgb(167, 167, 167));
    background-image: -moz-radial-gradient(50% 50%, rgb(248, 248, 248), rgb(167, 167, 167));
    background-image: -o-radial-gradient(50% 50%, rgb(248, 248, 248), rgb(167, 167, 167));
    background-image: -ms-radial-gradient(50% 50%, rgb(248, 248, 248), rgb(167, 167, 167));
    background-image: radial-gradient(50% 50%, rgb(248, 248, 248), rgb(167, 167, 167));

    /*orange*/
    /*background-color: #ffeb81;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 235, 129)),to(rgb(255, 201, 87)));
    background-image: -webkit-linear-gradient(top, rgb(255, 235, 129), rgb(255, 201, 87));
    background-image: -moz-linear-gradient(top, rgb(255, 235, 129), rgb(255, 201, 87));
    background-image: -o-linear-gradient(top, rgb(255, 235, 129), rgb(255, 201, 87));
    background-image: -ms-linear-gradient(top, rgb(255, 235, 129), rgb(255, 201, 87));
    background-image: linear-gradient(top, rgb(255, 235, 129), rgb(255, 201, 87));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffeb81', EndColorStr='#ffc957');*/
}
#footer {
    /*    height: 400px;*/
    /*    background-color: #049cd9;*/
    /*    background-repeat: no-repeat;*/
    /*    background-image: url(http://maps.google.com/maps/api/staticmap?center=Burbach&zoom=4&size=1640x400&sensor=false)*/

}
/*#masthead div.inner, div.inner {
    padding: 25px 0;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}*/
#masthead h1,
#footer h1,
#masthead p,
#footer p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#masthead p a,
#footer p a {
    color: #fff;
    font-weight: bold;
}
#masthead {
    margin-top: 15px;
}
#masthead h1,
#masthead p {
    text-align: center;
    margin-bottom: 9px;
}
#masthead h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#masthead p {
    font-weight: 300;
}
#masthead p.lead {
    font-size: 20px;
    line-height: 27px;
}

div.quickstart {
    background-color: #f5f5f5f5;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
    background-image: linear-gradient(#f9f9f9, #f5f5f5);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
div.quickstart div.row {
    margin: 0 -20px;
    -webkit-box-shadow: 1px 0 0 #f9f9f9;
    -moz-box-shadow: 1px 0 0 #f9f9f9;
    box-shadow: 1px 0 0 #f9f9f9;
}
div.quickstart div.columns {
    width: 285px;
    height: 117px;
    margin-left: 0;
    padding: 17px 20px 26px;
    border-left: 1px solid #eee;
    -webkit-box-shadow: inset 1px 0 0 #f9f9f9;
    -moz-box-shadow: inset 1px 0 0 #f9f9f9;
    box-shadow: inset 1px 0 0 #f9f9f9;
}
div.quickstart div.columns:last-child {
    border-right: 1px solid #eee;
    width: 286px;
}
div.quickstart h6,
div.quickstart p {
    line-height: 18px;
    text-align: center;
    margin-bottom: 9px;
    color: #333;
}
div.quickstart h6 {
    color: #999;
}
div.quickstart form textarea {
    display: block;
    width: 275px;
    height: auto;
    margin: 0 0 9px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
}
#footer {
    margin-top: 80px;
}
#footer p {
    margin-bottom: 0;
    color: rgba(255,255,255,.8)
}
#footer p.right {
    float: right;
}
/* Special grid styles
-------------------------------------------------- */
.show-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}
.show-grid .column, .show-grid .columns {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
}
.show-grid:hover .column, .show-grid:hover .columns {
    background: rgba(0, 0, 0, 0.25);
}
/* Render mini layout previews
-------------------------------------------------- */
div.mini-layout {
    height: 340px;
    margin-bottom: 20px;
    padding: 9px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
div.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.mini-layout div.mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 340px;
    height: 340px;
}
div.mini-layout.fluid div.mini-layout-sidebar,
div.mini-layout.fluid div.mini-layout-header,
div.mini-layout.fluid div.mini-layout-body {
    float: left;
}
div.mini-layout.fluid div.mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 90px;
    height: 340px;
}
div.mini-layout.fluid div.mini-layout-body {
    width: 300px;
    margin-left: 10px;
}
/* Topbar special styles
-------------------------------------------------- */
div.topbar-wrapper {
    position: relative;
    height: 40px;
    margin: 5px 0 15px;
}
div.topbar-wrapper div.topbar {
    position: absolute;
    margin: 0 -20px;
}
div.topbar-wrapper div.topbar .topbar-inner {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Popover docs
-------------------------------------------------- */
div.popover-well {
    min-height: 160px;
}

div.popover-well div.popover {
    display: block;
}

div.popover-well div.popover-wrapper {
    width: 50%;
    height: 160px;
    float: left;
    margin-left: 55px;
    position: relative;
}

div.popover-well div.popover-menu-wrapper {
    height: 80px;
}

img.large-bird {
    margin: 5px 0 0 310px;
    opacity: .1;
}

/* Pretty Print
-------------------------------------------------- */
PRE.prettyprint {
    overflow: hidden;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: left;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
    text-decoration: none;
}



/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
    margin-bottom: 9px;
}
.marketing h1 {
    margin: 36px 0 27px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.marketing h2,
.marketing h3 {
    font-weight: 300;
}
.marketing h2 {
    font-size: 22px;
}
.marketing p {
    margin-right: 10px;
}
.marketing .bs-icon {
    float: left;
    margin: 7px 10px 0 0;
    opacity: .8;
}
.marketing .small-bs-icon {
    float: left;
    margin: 4px 5px 0 0;
}




/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
    padding-bottom: 0;
    margin-bottom: 9px;
}
.subhead h1 {
    font-size: 54px;
}

/* Subnav */
.subnav {
    width: 100%;
    height: 36px;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    margin: 0;
    padding-top:    11px;
    padding-bottom: 11px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
    border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
    border-right: 0;
}
.subnav .dropdown-menu {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
        border-color: #d5d5d5;
        border-width: 0 0 1px; /* drop the border on the fixed edges */
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
    }
    .subnav-fixed .nav {
        width: 938px;
        margin: 0 auto;
        padding: 0 1px;
    }
    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}


/* mosaic stuff */


.mosaicclearfix{ display: block; height: 0; clear: both; visibility: hidden; }

.mosaicdetails{ margin:15px 10px; }	
.mosaicdetails h4{ font:300 16px 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height:160%; letter-spacing:0.15em; color:#fff; text-shadow:1px 1px 0 rgb(0,0,0); }
.mosaicdetails p{ font:300 12px 'Lucida Grande', Tahoma, Verdana, sans-serif; color:#aaa; text-shadow:1px 1px 0 rgb(0,0,0);}
.mosaic-overlay a{ text-decoration:none; }
.mosaic-overlay a:hover{ text-decoration:none; }



.csmt_rect{
    position:absolute; 
/*    top: 250px;
    left: 20px;*/
    z-index: 100;
    border: 4px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}