<%= partial "lp_menu" %>
<div class="row">
	    <div class="offset1">
		    <br><br><br>
	    <div class="offset1">
		    <h1><%=I18n.t("menu.publications")%></h1>
	    </div>
		    <br>
		    <%= partial "cismet_pub" %>
	    </div>
    </div>
<%= partial "lp_footer" %>
