<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>cismet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
       

        <link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/docs.css" media="screen" rel="stylesheet" type="text/css" />

        

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
        

       
    </head>
        <body  id="start" data-spy="scroll" data-target="#navbar" data-offset="50" onload="initialize()" style="background-image: url(/images/paper.png);">
   

    <body style="background-image: url(./assets/img/paper.png);"
 

<div class="marketing" align="center">
  <h1>Oooops. There seems to be an error.</h1>
  <%= image_tag 'errors/empty.png' %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h2>404. Means that the object you asked for could not be found.</h2>
  <h2>Go back to the <a href="/">German</a> or <a href="/en/">English</a> Version of our site.</h2>

</div>
    </body>
  
</html>