<br>

<div class="text-center hidden-desktop">
	<a href="#company" class="animate btn btn-inverse btn-large btn-block" type="button"><i class="icon-home icon-white"></i>&nbsp;<%=I18n.t("menu.company")%></a>
	<a href="#refs" class="animate btn btn-inverse btn-large btn-block" type="button"><i class="icon-road icon-white"></i>&nbsp;<%=I18n.t("menu.projects")%></a>
	<a href="#services" class="animate btn btn-inverse btn-large btn-block" type="button"><i class="icon-check icon-white"></i>&nbsp;<%=I18n.t("menu.services")%></a>
	<a href="#contact" class="animate btn btn-inverse btn-large btn-block" type="button"><i class="icon-envelope icon-white"></i>&nbsp;<%=I18n.t("menu.contact")%></a>
</div>

